In [ ]:
import pandas as pd
import numpy as np

In [ ]:
CA = pd.read_csv('mimic CA demo.csv')
CA

,stay_id,subject_id,gender,anchor_age,starttime,charttime,heart_rate,sbp_ni,dbp_ni,resp_rate,temperature,spo2
0,30031755,19867017,F,74,2124-04-24 17:00:00,2124-04-19 18:07:00,114.0,NaN,NaN,18.0,NaN,NaN
1,30031755,19867017,F,74,2124-04-24 17:00:00,2124-04-19 18:18:00,NaN,NaN,NaN,NaN,NaN,96.0
2,30031755,19867017,F,74,2124-04-24 17:00:00,2124-04-19 18:32:00,108.0,NaN,NaN,20.0,NaN,95.0
3,30031755,19867017,F,74,2124-04-24 17:00:00,2124-04-19 20:00:00,111.0,NaN,NaN,18.0,NaN,96.0
4,30031755,19867017,F,74,2124-04-24 17:00:00,2124-04-19 20:15:00,NaN,85.0,60.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
68968,39992578,19774838,M,69,2187-09-15 10:00:00,2187-09-15 06:40:00,85.0,NaN,NaN,11.0,NaN,99.0
68969,39992578,19774838,M,69,2187-09-15 10:00:00,2187-09-15 07:00:00,95.0,NaN,NaN,16.0,NaN,99.0
68970,39992578,19774838,M,69,2187-09-15 10:00:00,2187-09-15 08:00:00,100.0,NaN,NaN,18.0,37.833333,99.0
68971,39992578,19774838,M,69,2187-09-15 10:00:00,2187-09-15 09:00:00,104.0,NaN,NaN,22.0,NaN,98.0
68972,39992578,19774838,M,69,2187-09-15 10:00:00,2187-09-15 10:00:00,90.0,NaN,NaN,18.0,NaN,NaN

In [ ]:
CA.describe()

,stay_id,subject_id,anchor_age,heart_rate,sbp_ni,dbp_ni,resp_rate,temperature,spo2
count,6.897300e+04,6.897300e+04,68973.000000,51490.000000,22933.000000,22908.000000,50900.000000,14389.000000,49308.000000
mean,3.491064e+07,1.437662e+07,63.801937,89.321422,110.694807,61.958399,21.787800,36.937769,96.499878
std,2.583292e+06,2.866014e+06,14.213349,20.882550,22.058173,15.736862,6.452679,1.035382,4.830128
min,3.003176e+07,1.005604e+07,21.000000,4.000000,31.000000,11.000000,1.000000,29.000000,2.000000
25%,3.292330e+07,1.166652e+07,54.000000,75.000000,96.000000,52.000000,17.000000,36.500000,95.000000
50%,3.480486e+07,1.416004e+07,66.000000,88.000000,108.000000,60.000000,21.000000,36.944444,98.000000
75%,3.649477e+07,1.684807e+07,73.000000,103.000000,123.000000,71.000000,26.000000,37.500000,100.000000
max,3.999258e+07,1.999334e+07,91.000000,237.000000,315.000000,212.000000,66.000000,41.900000,100.000000

In [ ]:
import scipy.stats

# 使用Shapiro檢查常態分布
def shapiro_test(data):
    stat, p = scipy.stats.shapiro(data)
    return p

In [ ]:
# 將每個features的NA值去除
p_hr = shapiro_test(CA['heart_rate'].dropna().tolist())
p_temp = shapiro_test(CA['temperature'].dropna().tolist())
p_sbp = shapiro_test(CA['sbp_ni'].dropna().tolist())
p_dbp = shapiro_test(CA['dbp_ni'].dropna().tolist())
p_rr = shapiro_test(CA['resp_rate'].dropna().tolist())
p_spo2 = shapiro_test(CA['spo2'].dropna().tolist())

print('CA：'+ str(p_hr))
print('BT：'+ str(p_temp))
print('SBP：'+ str(p_sbp))
print('DBP：'+ str(p_dbp))
print('RR：'+ str(p_rr))
print('spo2：'+ str(p_spo2))

CA：0.0
BT：0.0
SBP：0.0
DBP：0.0
RR：0.0
spo2：0.0

C:\Users\user\AppData\Roaming\Python\Python38\site-packages\scipy\stats\_morestats.py:1816: UserWarning: p-value may not be accurate for N > 5000.
  warnings.warn("p-value may not be accurate for N > 5000.")

In [ ]:
# 選擇每位患者
CA1 = CA.drop_duplicates(subset='subject_id', keep='first')
CA1

,stay_id,subject_id,gender,anchor_age,starttime,charttime,heart_rate,sbp_ni,dbp_ni,resp_rate,temperature,spo2
0,30031755,19867017,F,74,2124-04-24 17:00:00,2124-04-19 18:07:00,114.0,NaN,NaN,18.0,NaN,NaN
188,30059619,11279605,M,87,2176-06-18 06:47:00,2176-06-14 16:00:00,NaN,NaN,NaN,NaN,34.111111,NaN
323,30083424,15896656,M,72,2179-09-12 00:41:00,2179-09-11 23:26:00,73.0,NaN,NaN,22.0,NaN,99.0
328,30085141,18756147,M,41,2186-02-04 21:23:00,2186-01-30 15:44:00,NaN,NaN,NaN,NaN,36.444444,NaN
488,30102451,13662907,F,35,2122-05-23 15:00:00,2122-05-22 21:47:00,114.0,NaN,NaN,21.0,NaN,95.0
...,...,...,...,...,...,...,...,...,...,...,...,...
68784,39876736,10143305,M,56,2126-06-18 10:29:00,2126-06-17 18:30:00,117.0,NaN,NaN,22.0,NaN,NaN
68811,39899407,14559749,M,71,2154-05-29 00:28:00,2154-05-28 19:14:00,112.0,NaN,NaN,23.0,NaN,NaN
68825,39933268,14533062,F,73,2118-06-17 10:40:00,2118-06-15 14:15:00,NaN,NaN,NaN,NaN,NaN,99.0
68922,39950840,12569468,M,56,2147-06-22 18:30:00,2147-06-22 02:28:00,104.0,NaN,NaN,20.0,NaN,NaN
68952,39992578,19774838,M,69,2187-09-15 10:00:00,2187-09-14 21:39:00,NaN,NaN,NaN,NaN,NaN,76.0

In [ ]:
# 計算患者性別數量和比例
print(CA1['gender'].value_counts(normalize=True))
print(' ')
print('男性數量')
print((CA1['gender'] == 'M').sum())

M    0.60587
F    0.39413
Name: gender, dtype: float64

男性數量
289

In [ ]:
# 計算患者年齡平均
print(CA1['anchor_age'].mean())
print(CA1['anchor_age'].std())

65.57861635220125
15.90929527769087

In [ ]:
noCA = pd.read_csv('mimic nonCA demo.csv')
noCA

,subject_id,stay_id,gender,anchor_age,charttime,heart_rate,resp_rate,sbp_ni,dbp_ni,spo2,temperature
0,10018845,35674354,M,91,2184-10-08 04:21:00,83.0,18.0,NaN,NaN,NaN,NaN
1,10018845,35674354,M,91,2184-10-08 04:22:00,NaN,NaN,NaN,NaN,99.0,NaN
2,10018845,35674354,M,91,2184-10-08 04:23:00,NaN,NaN,157.0,70.0,NaN,NaN
3,10018845,35674354,M,91,2184-10-08 04:31:00,58.0,13.0,NaN,NaN,98.0,36.666667
4,10018845,35674354,M,91,2184-10-08 05:00:00,49.0,11.0,134.0,49.0,96.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
55764,19975710,32714049,F,69,2129-11-26 01:01:00,NaN,NaN,151.0,72.0,NaN,NaN
55765,19975710,32714049,F,69,2129-11-26 02:00:00,72.0,13.0,NaN,NaN,96.0,NaN
55766,19975710,32714049,F,69,2129-11-26 02:01:00,NaN,NaN,128.0,58.0,NaN,NaN
55767,19975710,32714049,F,69,2129-11-26 03:00:00,79.0,14.0,NaN,NaN,94.0,NaN
55768,19975710,32714049,F,69,2129-11-26 03:01:00,NaN,NaN,154.0,62.0,NaN,NaN

In [ ]:
noCA.describe()

,subject_id,stay_id,anchor_age,heart_rate,resp_rate,sbp_ni,dbp_ni,spo2,temperature
count,5.576900e+04,5.576900e+04,55769.000000,42957.000000,42605.000000,24306.000000,24297.000000,42150.000000,11045.000000
mean,1.491516e+07,3.498792e+07,65.822321,84.739926,19.797723,119.810129,69.801004,96.637367,37.001249
std,2.922911e+06,2.852708e+06,14.795461,17.853542,5.543418,22.600527,513.427524,5.092674,1.236552
min,1.001884e+07,3.002724e+07,21.000000,16.000000,1.000000,32.000000,11.000000,7.000000,27.333333
25%,1.249756e+07,3.257726e+07,56.000000,72.000000,16.000000,103.000000,54.000000,95.000000,36.600000
50%,1.471734e+07,3.515643e+07,66.000000,83.000000,19.000000,118.000000,63.000000,97.000000,36.944444
75%,1.757312e+07,3.767138e+07,78.000000,96.000000,23.000000,135.000000,74.000000,99.000000,37.333333
max,1.997571e+07,3.996733e+07,91.000000,250.000000,69.000000,254.000000,62147.000000,943.000000,98.400000

In [ ]:
# 將每個特徵的NA值去除
p_hr = shapiro_test(noCA['heart_rate'].dropna().tolist())
p_temp = shapiro_test(noCA['temperature'].dropna().tolist())
p_sbp = shapiro_test(noCA['sbp_ni'].dropna().tolist())
p_dbp = shapiro_test(noCA['dbp_ni'].dropna().tolist())
p_rr = shapiro_test(noCA['resp_rate'].dropna().tolist())
p_spo2 = shapiro_test(noCA['spo2'].dropna().tolist())

print('CA：'+ str(p_hr))
print('BT：'+ str(p_temp))
print('SBP：'+ str(p_sbp))
print('DBP：'+ str(p_dbp))
print('RR：'+ str(p_rr))
print('spo2：'+ str(p_spo2))

CA：0.0
BT：0.0
SBP：3.826245456838913e-41
DBP：0.0
RR：0.0
spo2：0.0

C:\Users\user\AppData\Roaming\Python\Python38\site-packages\scipy\stats\_morestats.py:1816: UserWarning: p-value may not be accurate for N > 5000.
  warnings.warn("p-value may not be accurate for N > 5000.")

In [ ]:
# 選擇每位患者
noCA1 = noCA.drop_duplicates(subset='subject_id', keep='first')
noCA1

,subject_id,stay_id,gender,anchor_age,charttime,heart_rate,resp_rate,sbp_ni,dbp_ni,spo2,temperature
0,10018845,35674354,M,91,2184-10-08 04:21:00,83.0,18.0,NaN,NaN,NaN,NaN
43,10035631,35275147,M,63,2116-02-28 18:52:00,121.0,30.0,NaN,NaN,95.0,NaN
485,10087025,39437800,F,76,2164-03-09 16:00:00,NaN,NaN,NaN,NaN,NaN,36.777778
560,10110363,34569842,M,77,2167-06-14 19:00:00,NaN,NaN,NaN,NaN,NaN,36.944444
664,10115024,38216479,F,52,2110-06-02 00:00:00,61.0,15.0,NaN,NaN,99.0,36.055556
...,...,...,...,...,...,...,...,...,...,...,...
55271,19922293,33613003,M,53,2172-12-22 11:23:00,109.0,29.0,NaN,NaN,94.0,37.166667
55314,19933583,37183103,M,69,2152-02-21 11:24:00,70.0,16.0,NaN,NaN,NaN,NaN
55371,19959499,38541607,M,66,2174-08-13 16:12:00,69.0,NaN,NaN,NaN,100.0,NaN
55433,19970934,37837766,F,70,2113-06-07 05:00:00,NaN,NaN,NaN,NaN,100.0,NaN
55464,19975710,32714049,F,69,2129-11-19 22:39:00,63.0,24.0,NaN,NaN,100.0,NaN

In [ ]:
# 計算患者性別數量和比例
print(noCA1['gender'].value_counts(normalize=True))
print(' ')
print('男性數量')
print((noCA1['gender'] == 'M').sum())

M    0.60587
F    0.39413
Name: gender, dtype: float64

男性數量
289

In [ ]:
# 計算患者年齡平均
print(noCA1['anchor_age'].mean())
print(noCA1['anchor_age'].std())

65.57861635220125
15.90929527769088

In [ ]:
# 台北馬偕資料
TP = pd.read_csv('TP demo.csv')
TP

,PNO,incharge_date,event_time,chart_time,TempC,HR,RR,SBP,DBP,SPO2
0,50005708.0,2016/1/2,2016-01-05 06:53:00,2016-01-03 07:22:00,36.6,96.0,18.0,123.0,79.0,NaN
1,50005708.0,2016/1/2,2016-01-05 06:53:00,2016-01-03 11:30:00,NaN,100.0,21.0,153.0,80.0,90.0
2,50005708.0,2016/1/2,2016-01-05 06:53:00,2016-01-03 14:43:00,36.9,92.0,18.0,142.0,79.0,NaN
3,50005708.0,2016/1/2,2016-01-05 06:53:00,2016-01-03 14:59:00,36.8,99.0,20.0,157.0,83.0,NaN
4,50005708.0,2016/1/2,2016-01-05 06:53:00,2016-01-03 17:51:00,36.2,95.0,17.0,157.0,86.0,NaN
...,...,...,...,...,...,...,...,...,...,...
2624,43145567.0,2021/9/26,2021-10-03 04:50:00,2021-10-02 02:45:00,37.2,73.0,20.0,142.0,65.0,98.0
2625,43145567.0,2021/9/26,2021-10-03 04:50:00,2021-10-02 09:40:00,37.5,80.0,18.0,132.0,59.0,95.0
2626,43145567.0,2021/9/26,2021-10-03 04:50:00,2021-10-02 17:42:00,37.4,79.0,19.0,143.0,65.0,97.0
2627,43145567.0,2021/9/26,2021-10-03 04:50:00,2021-10-02 21:09:00,NaN,75.0,NaN,129.0,69.0,NaN
2628,43145567.0,2021/9/26,2021-10-03 04:50:00,2021-10-03 01:20:00,37.2,82.0,18.0,128.0,61.0,98.0

In [ ]:
print(TP['PNO'].nunique())
print(TP['event_time'].nunique())

178
179

In [ ]:
TP.describe()

,PNO,TempC,HR,RR,SBP,DBP,SPO2
count,2.629000e+03,1806.000000,2356.000000,2031.000000,2264.000000,2264.000000,1124.000000
mean,2.921013e+07,36.997453,93.531834,19.659774,124.761484,67.147968,374.865836
std,1.758260e+07,1.127999,24.420403,4.122144,27.045642,14.895474,3835.794244
min,2.565780e+05,0.000000,0.000000,0.000000,0.000000,0.000000,30.000000
25%,1.327137e+07,36.500000,78.000000,18.000000,106.000000,57.000000,96.000000
50%,2.853915e+07,37.000000,94.000000,19.000000,123.000000,65.000000,98.000000
75%,4.635534e+07,37.400000,108.000000,21.000000,141.000000,76.000000,100.000000
max,5.694913e+07,40.700000,257.000000,49.000000,270.000000,141.000000,95100.000000

In [ ]:
# 將每個特徵的NA值去除
p_hr = shapiro_test(TP['HR'].dropna().tolist())
p_temp = shapiro_test(TP['TempC'].dropna().tolist())
p_sbp = shapiro_test(TP['SBP'].dropna().tolist())
p_dbp = shapiro_test(TP['DBP'].dropna().tolist())
p_rr = shapiro_test(TP['RR'].dropna().tolist())
p_spo2 = shapiro_test(TP['SPO2'].dropna().tolist())

print('CA：'+ str(p_hr))
print('BT：'+ str(p_temp))
print('SBP：'+ str(p_sbp))
print('DBP：'+ str(p_dbp))
print('RR：'+ str(p_rr))
print('spo2：'+ str(p_spo2))

CA：1.5817065440895212e-24
BT：0.0
SBP：3.272666512788014e-11
DBP：8.111784744273108e-23
RR：2.5223372357846707e-44
spo2：0.0

In [ ]:
# 真正發生在一般病房CA的患者和時間
TTP = pd.read_excel('20240531 北淡給念恩學妹.xlsx', sheet_name='bts_TP_Ward(定稿)(台北, 給學妹)')
TTP

,PNO,event_time,Sex,Birth,Dnryn,Place2,Dept,Deptname,Area2
0,256578,2020-06-04 19:42:00,男,1936-11-24,N,一般病房,14,心臟內科,病床/推車
1,364506,2020-08-25 02:40:00,男,1942-04-26,N,一般病房,71,耳鼻喉科,治療室
2,662815,2017-04-14 20:48:00,女,1945-01-13,N,一般病房,13,胃腸內科,病床/推車
3,891881,2017-01-25 07:49:00,男,1949-06-06,N,一般病房,67,心臟外科,病床/推車
4,1159504,2019-08-06 06:42:00,男,1955-04-27,N,一般病房,16,腎臟內科,治療室
...,...,...,...,...,...,...,...,...,...
174,56523691,2021-06-22 18:05:00,男,1939-09-17,N,一般病房,26,一般/感染科,病床/推車
175,56528177,2021-06-30 22:24:00,男,1972-03-31,N,一般病房,67,心臟外科,病床/推車
176,56534352,2021-07-09 12:20:00,男,1959-07-15,N,一般病房,50,一般外科,病床/推車
177,56932269,2020-11-10 18:10:00,男,1934-10-09,Y,一般病房,67,心臟外科,病床/推車
178,56949131,2020-12-28 05:10:00,男,1953-10-19,N,一般病房,15,胸腔內科,治療室

In [ ]:
# 將事件時間、生日欄位轉換為日期格式
TTP['event_time'] = pd.to_datetime(TTP['event_time'])
TTP['Birth'] = pd.to_datetime(TTP['Birth'])

# 使用.copy()產生另一dataframe
TTP = TTP.copy()

# 計算年齡
TTP['age'] = (TTP['event_time']-TTP['Birth']).dt.days // 365
TTP

,PNO,event_time,Sex,Birth,Dnryn,Place2,Dept,Deptname,Area2,age
0,256578,2020-06-04 19:42:00,男,1936-11-24,N,一般病房,14,心臟內科,病床/推車,83
1,364506,2020-08-25 02:40:00,男,1942-04-26,N,一般病房,71,耳鼻喉科,治療室,78
2,662815,2017-04-14 20:48:00,女,1945-01-13,N,一般病房,13,胃腸內科,病床/推車,72
3,891881,2017-01-25 07:49:00,男,1949-06-06,N,一般病房,67,心臟外科,病床/推車,67
4,1159504,2019-08-06 06:42:00,男,1955-04-27,N,一般病房,16,腎臟內科,治療室,64
...,...,...,...,...,...,...,...,...,...,...
174,56523691,2021-06-22 18:05:00,男,1939-09-17,N,一般病房,26,一般/感染科,病床/推車,81
175,56528177,2021-06-30 22:24:00,男,1972-03-31,N,一般病房,67,心臟外科,病床/推車,49
176,56534352,2021-07-09 12:20:00,男,1959-07-15,N,一般病房,50,一般外科,病床/推車,62
177,56932269,2020-11-10 18:10:00,男,1934-10-09,Y,一般病房,67,心臟外科,病床/推車,86
178,56949131,2020-12-28 05:10:00,男,1953-10-19,N,一般病房,15,胸腔內科,治療室,67

In [ ]:
# 找出重複的患者
TTP[TTP.duplicated(subset='PNO', keep=False) == True]

,PNO,event_time,Sex,Birth,Dnryn,Place2,Dept,Deptname,Area2,age
85,28539150,2019-09-16 20:00:00,男,1943-01-27,N,一般病房,50,一般外科,病床/推車,76
86,28539150,2019-10-28 03:16:00,男,1943-01-27,Y,一般病房,50,一般外科,病床/推車,76

In [ ]:
# 去掉重複的患者
TTP_onlyone = TTP.drop_duplicates(subset='PNO', keep='first')
TTP_onlyone

,PNO,event_time,Sex,Birth,Dnryn,Place2,Dept,Deptname,Area2,age
0,256578,2020-06-04 19:42:00,男,1936-11-24,N,一般病房,14,心臟內科,病床/推車,83
1,364506,2020-08-25 02:40:00,男,1942-04-26,N,一般病房,71,耳鼻喉科,治療室,78
2,662815,2017-04-14 20:48:00,女,1945-01-13,N,一般病房,13,胃腸內科,病床/推車,72
3,891881,2017-01-25 07:49:00,男,1949-06-06,N,一般病房,67,心臟外科,病床/推車,67
4,1159504,2019-08-06 06:42:00,男,1955-04-27,N,一般病房,16,腎臟內科,治療室,64
...,...,...,...,...,...,...,...,...,...,...
174,56523691,2021-06-22 18:05:00,男,1939-09-17,N,一般病房,26,一般/感染科,病床/推車,81
175,56528177,2021-06-30 22:24:00,男,1972-03-31,N,一般病房,67,心臟外科,病床/推車,49
176,56534352,2021-07-09 12:20:00,男,1959-07-15,N,一般病房,50,一般外科,病床/推車,62
177,56932269,2020-11-10 18:10:00,男,1934-10-09,Y,一般病房,67,心臟外科,病床/推車,86
178,56949131,2020-12-28 05:10:00,男,1953-10-19,N,一般病房,15,胸腔內科,治療室,67

In [ ]:
# 計算患者性別
print(TTP_onlyone['Sex'].value_counts(normalize=True))
print('男性數量')
print((TTP_onlyone['Sex'] == '男').sum())

男    0.634831
女    0.365169
Name: Sex, dtype: float64
男性數量
113

In [ ]:
# 計算患者年齡
print(TTP_onlyone['age'].mean())
print(TTP_onlyone['age'].std())

70.70224719101124
13.140101019726135

In [ ]:
# 淡水馬偕
TS = pd.read_csv('TS demo.csv')
TS

,PNO,incharge_date,event_time,chart_time,TempC,HR,RR,SBP,DBP,SPO2
0,104831.0,2016/1/7,2016-02-29 01:04:00,2016-02-27 02:00:00,NaN,88.0,NaN,103.0,60.0,NaN
1,104831.0,2016/1/7,2016-02-29 01:04:00,2016-02-27 04:00:00,NaN,88.0,NaN,100.0,49.0,NaN
2,104831.0,2016/1/7,2016-02-29 01:04:00,2016-02-27 06:00:00,NaN,83.0,NaN,83.0,42.0,NaN
3,104831.0,2016/1/7,2016-02-29 01:04:00,2016-02-27 07:30:00,NaN,75.0,NaN,93.0,40.0,NaN
4,104831.0,2016/1/7,2016-02-29 01:04:00,2016-02-27 09:00:00,36.8,82.0,20.0,90.0,44.0,NaN
...,...,...,...,...,...,...,...,...,...,...
3206,12091050.0,2021/10/20,2021-10-22 16:45:00,2021-10-22 13:08:00,NaN,116.0,NaN,126.0,69.0,91.0
3207,12091050.0,2021/10/20,2021-10-22 16:45:00,2021-10-22 13:09:00,NaN,119.0,NaN,126.0,69.0,91.0
3208,12091050.0,2021/10/20,2021-10-22 16:45:00,2021-10-22 13:11:00,36.9,117.0,21.0,126.0,69.0,94.0
3209,12091050.0,2021/10/20,2021-10-22 16:45:00,2021-10-22 15:24:00,36.6,109.0,23.0,131.0,70.0,95.0
3210,12091050.0,2021/10/20,2021-10-22 16:45:00,2021-10-22 15:33:00,NaN,NaN,27.0,NaN,NaN,91.0

In [ ]:
print(TS['PNO'].nunique())
print(TS['event_time'].nunique())

221
224

In [ ]:
TS.describe()

,PNO,TempC,HR,RR,SBP,DBP,SPO2
count,3.211000e+03,2196.000000,2817.000000,2409.000000,2733.000000,2732.000000,1379.000000
mean,2.732430e+07,36.954372,90.910898,20.085928,125.212953,67.980966,95.748368
std,1.690178e+07,1.097960,24.194984,5.314808,28.557576,21.691919,8.433712
min,1.048310e+05,33.300000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.421923e+07,36.400000,75.000000,18.000000,105.000000,57.000000,95.000000
50%,2.653375e+07,36.900000,91.000000,19.000000,124.000000,66.000000,98.000000
75%,4.130275e+07,37.400000,105.000000,22.000000,143.000000,78.000000,100.000000
max,5.699405e+07,69.900000,232.000000,54.000000,249.000000,843.000000,100.000000

In [ ]:
# 將每個特徵的NA值去除
p_hr = shapiro_test(TS['HR'].dropna().tolist())
p_temp = shapiro_test(TS['TempC'].dropna().tolist())
p_sbp = shapiro_test(TS['SBP'].dropna().tolist())
p_dbp = shapiro_test(TS['DBP'].dropna().tolist())
p_rr = shapiro_test(TS['RR'].dropna().tolist())
p_spo2 = shapiro_test(TS['SPO2'].dropna().tolist())

print('CA：'+ str(p_hr))
print('BT：'+ str(p_temp))
print('SBP：'+ str(p_sbp))
print('DBP：'+ str(p_dbp))
print('RR：'+ str(p_rr))
print('spo2：'+ str(p_spo2))

CA：1.212429830480921e-26
BT：0.0
SBP：3.358642283191803e-19
DBP：0.0
RR：4.203895392974451e-44
spo2：0.0

In [ ]:
# 真正發生在一般病房CA的患者和時間
TTS = pd.read_excel('20240531 北淡給念恩學妹.xlsx', sheet_name='bts_TS_Ward(定稿)(淡水, 給學妹)')
TTS

,PNO,event_time,Sex,Birth,Dnryn,Place2,Dept,Deptname,Area2
0,104831,2016-02-29 01:04:00,女,1942-05-20,N,一般病房,16,腎臟內科,病床/推車
1,120479,2020-02-12 05:15:00,男,1930-09-13,N,一般病房,14,心臟內科,病床/推車
2,345262,2020-08-08 02:25:00,男,1955-10-02,N,一般病房,14,心臟內科,病床/推車
3,393550,2021-02-05 04:20:00,女,1958-04-05,N,一般病房,20,神經內科,病床/推車
4,924791,2021-02-14 06:23:00,女,1932-09-16,N,一般病房,13,胃腸肝膽科,病床/推車
...,...,...,...,...,...,...,...,...,...
219,56193732,2021-01-10 22:10:00,男,1942-01-15,N,一般病房,26,一般/感染科,病床/推車
220,56348322,2021-03-13 21:56:00,男,1940-03-24,N,一般病房,16,腎臟內科,病床/推車
221,56377932,2021-05-08 10:30:00,男,1936-05-05,Y,一般病房,50,一般外科,治療室
222,56760504,2021-09-26 19:44:00,男,1980-05-26,N,一般病房,67,心臟外科,治療室
223,56994049,2021-04-07 22:11:00,男,1942-06-17,N,一般病房,20,神經內科,病床/推車

In [ ]:
# 將生日、事件時間欄位轉換為日期格式
TTS['Birth'] = pd.to_datetime(TTS['Birth'])
TTS['event_time'] = pd.to_datetime(TTS['event_time'])

# 使用.copy()產生另一dataframe
TTS = TTS.copy()

# 計算年齡
TTS['age'] = (TTS['event_time']-TTS['Birth']).dt.days // 365
TTS

,PNO,event_time,Sex,Birth,Dnryn,Place2,Dept,Deptname,Area2,age
0,104831,2016-02-29 01:04:00,女,1942-05-20,N,一般病房,16,腎臟內科,病床/推車,73
1,120479,2020-02-12 05:15:00,男,1930-09-13,N,一般病房,14,心臟內科,病床/推車,89
2,345262,2020-08-08 02:25:00,男,1955-10-02,N,一般病房,14,心臟內科,病床/推車,64
3,393550,2021-02-05 04:20:00,女,1958-04-05,N,一般病房,20,神經內科,病床/推車,62
4,924791,2021-02-14 06:23:00,女,1932-09-16,N,一般病房,13,胃腸肝膽科,病床/推車,88
...,...,...,...,...,...,...,...,...,...,...
219,56193732,2021-01-10 22:10:00,男,1942-01-15,N,一般病房,26,一般/感染科,病床/推車,79
220,56348322,2021-03-13 21:56:00,男,1940-03-24,N,一般病房,16,腎臟內科,病床/推車,81
221,56377932,2021-05-08 10:30:00,男,1936-05-05,Y,一般病房,50,一般外科,治療室,85
222,56760504,2021-09-26 19:44:00,男,1980-05-26,N,一般病房,67,心臟外科,治療室,41
223,56994049,2021-04-07 22:11:00,男,1942-06-17,N,一般病房,20,神經內科,病床/推車,78

In [ ]:
# 找出重複的患者
TTS[TTS.duplicated(subset='PNO', keep=False) == True]

,PNO,event_time,Sex,Birth,Dnryn,Place2,Dept,Deptname,Area2,age
45,8702317,2019-05-07 06:40:00,女,1950-10-15,N,一般病房,16,腎臟內科,病床/推車,68
46,8702317,2019-04-10 21:26:00,女,1950-10-15,N,一般病房,16,腎臟內科,病床/推車,68
58,14305591,2020-05-22 20:58:00,女,1957-08-19,N,一般病房,68,胸腔外科,治療室,62
59,14305591,2020-12-27 18:57:00,女,1957-08-19,N,一般病房,15,胸腔內科,病床/推車,63
156,37319844,2020-10-20 21:52:00,女,1956-10-11,N,一般病房,13,胃腸肝膽科,病床/推車,64
157,37319844,2020-09-06 08:34:00,女,1956-10-11,N,一般病房,13,胃腸肝膽科,治療室,63

In [ ]:
# 去掉重複的患者
TTS_onlyone = TTS.drop_duplicates(subset='PNO', keep='first')
TTS_onlyone

,PNO,event_time,Sex,Birth,Dnryn,Place2,Dept,Deptname,Area2,age
0,104831,2016-02-29 01:04:00,女,1942-05-20,N,一般病房,16,腎臟內科,病床/推車,73
1,120479,2020-02-12 05:15:00,男,1930-09-13,N,一般病房,14,心臟內科,病床/推車,89
2,345262,2020-08-08 02:25:00,男,1955-10-02,N,一般病房,14,心臟內科,病床/推車,64
3,393550,2021-02-05 04:20:00,女,1958-04-05,N,一般病房,20,神經內科,病床/推車,62
4,924791,2021-02-14 06:23:00,女,1932-09-16,N,一般病房,13,胃腸肝膽科,病床/推車,88
...,...,...,...,...,...,...,...,...,...,...
219,56193732,2021-01-10 22:10:00,男,1942-01-15,N,一般病房,26,一般/感染科,病床/推車,79
220,56348322,2021-03-13 21:56:00,男,1940-03-24,N,一般病房,16,腎臟內科,病床/推車,81
221,56377932,2021-05-08 10:30:00,男,1936-05-05,Y,一般病房,50,一般外科,治療室,85
222,56760504,2021-09-26 19:44:00,男,1980-05-26,N,一般病房,67,心臟外科,治療室,41
223,56994049,2021-04-07 22:11:00,男,1942-06-17,N,一般病房,20,神經內科,病床/推車,78

In [ ]:
# 計算患者性別
print(TTS_onlyone['Sex'].value_counts(normalize=True))
print(' ')
print('男性數量')
print((TTS_onlyone['Sex'] == '男').sum())

男    0.606335
女    0.393665
Name: Sex, dtype: float64

男性數量
134

In [ ]:
# 計算患者年齡
print(TTS_onlyone['age'].mean())
print(TTS_onlyone['age'].std())

70.10407239819004
14.530939770466208

In [ ]:
from scipy.stats import levene

# CA和non-CA相比：變異數是否相同

# 年紀(不用比，因為是配對的)
statistic, p_value = levene(CA1['anchor_age'], noCA1['anchor_age'])
# 六個vital signs
hstatistic, hp_value = levene(CA['heart_rate'].dropna().tolist(), noCA['heart_rate'].dropna().tolist())
sstatistic, sp_value = levene(CA['sbp_ni'].dropna().tolist(), noCA['sbp_ni'].dropna().tolist())
dstatistic, dp_value = levene(CA['dbp_ni'].dropna().tolist(), noCA['dbp_ni'].dropna().tolist())
rstatistic, rp_value = levene(CA['resp_rate'].dropna().tolist(), noCA['resp_rate'].dropna().tolist())
tstatistic, tp_value = levene(CA['temperature'].dropna().tolist(), noCA['temperature'].dropna().tolist())
ostatistic, op_value = levene(CA['spo2'].dropna().tolist(), noCA['spo2'].dropna().tolist())

print('統計量：%.2f'%statistic)
print('p-value:%.5f'%p_value)
print('-'*30)

print('統計量：%.2f'%hstatistic)
print('p-value:%.5f'%hp_value)
print('-'*30)
print('統計量：%.2f'%sstatistic)
print('p-value:%.5f'%sp_value)
print('-'*30)
print('統計量：%.2f'%dstatistic)
print('p-value:%.5f'%dp_value)
print('-'*30)
print('統計量：%.2f'%rstatistic)
print('p-value:%.5f'%rp_value)
print('-'*30)
print('統計量：%.2f'%tstatistic)
print('p-value:%.5f'%tp_value)
print('-'*30)
print('統計量：%.2f'%ostatistic)
print('p-value:%.5f'%op_value)
print('-'*30)

統計量：0.00
p-value:1.00000
------------------------------
統計量：840.75
p-value:0.00000
------------------------------
統計量：89.44
p-value:0.00000
------------------------------
統計量：2.46
p-value:0.11702
------------------------------
統計量：785.78
p-value:0.00000
------------------------------
統計量：192.14
p-value:0.00000
------------------------------
統計量：444.94
p-value:0.00000
------------------------------

In [ ]:
from scipy.stats import ttest_ind

# CA和non-CA相比：獨立t test

print(ttest_ind(CA1['anchor_age'], noCA1['anchor_age'], equal_var=False, alternative='two-sided'))
print('-'*30)

print(ttest_ind(CA['heart_rate'].dropna().tolist(), noCA['heart_rate'].dropna().tolist(), equal_var=False, alternative='two-sided'))
print('-'*30)
print(ttest_ind(CA['sbp_ni'].dropna().tolist(), noCA['sbp_ni'].dropna().tolist(), equal_var=False, alternative='two-sided'))
print('-'*30)
print(ttest_ind(CA['dbp_ni'].dropna().tolist(), noCA['dbp_ni'].dropna().tolist(), equal_var=True, alternative='two-sided'))
print('-'*30)
print(ttest_ind(CA['resp_rate'].dropna().tolist(), noCA['resp_rate'].dropna().tolist(), equal_var=False, alternative='two-sided'))
print('-'*30)
print(ttest_ind(CA['temperature'].dropna().tolist(), noCA['temperature'].dropna().tolist(), equal_var=False, alternative='two-sided'))
print('-'*30)
print(ttest_ind(CA['spo2'].dropna().tolist(), noCA['spo2'].dropna().tolist(), equal_var=False, alternative='two-sided'))

Ttest_indResult(statistic=0.0, pvalue=1.0)
------------------------------
Ttest_indResult(statistic=36.345717026623944, pvalue=3.0132757873739286e-287)
------------------------------
Ttest_indResult(statistic=-44.35617580953763, pvalue=0.0)
------------------------------
Ttest_indResult(statistic=-2.3109060497942897, pvalue=0.020842332161037137)
------------------------------
Ttest_indResult(statistic=50.7236722416251, pvalue=0.0)
------------------------------
Ttest_indResult(statistic=-4.350179574868096, pvalue=1.3665597379737918e-05)
------------------------------
Ttest_indResult(statistic=-4.167340734821395, pvalue=3.084689595572893e-05)

In [ ]:
# mimic CA和馬偕 CA相比：變異數是否相同
# 年紀
statistic, p_value = levene(CA1['anchor_age'], TTP_onlyone['age'])
# 六個vital signs
hstatistic, hp_value = levene(CA['heart_rate'].dropna().tolist(), TP['HR'].dropna().tolist())
sstatistic, sp_value = levene(CA['sbp_ni'].dropna().tolist(), TP['SBP'].dropna().tolist())
dstatistic, dp_value = levene(CA['dbp_ni'].dropna().tolist(), TP['DBP'].dropna().tolist())
rstatistic, rp_value = levene(CA['resp_rate'].dropna().tolist(), TP['RR'].dropna().tolist())
tstatistic, tp_value = levene(CA['temperature'].dropna().tolist(), TP['TempC'].dropna().tolist())
ostatistic, op_value = levene(CA['spo2'].dropna().tolist(), TP['SPO2'].dropna().tolist())

print('統計量：%.2f'%statistic)
print('p-value:%.5f'%p_value)
print('-'*30)

print('統計量：%.2f'%hstatistic)
print('p-value:%.5f'%hp_value)
print('-'*30)
print('統計量：%.2f'%sstatistic)
print('p-value:%.5f'%sp_value)
print('-'*30)
print('統計量：%.2f'%dstatistic)
print('p-value:%.5f'%dp_value)
print('-'*30)
print('統計量：%.2f'%rstatistic)
print('p-value:%.5f'%rp_value)
print('-'*30)
print('統計量：%.2f'%tstatistic)
print('p-value:%.5f'%tp_value)
print('-'*30)
print('統計量：%.2f'%ostatistic)
print('p-value:%.5f'%op_value)
print('-'*30)

統計量：7.83
p-value:0.00528
------------------------------
統計量：52.92
p-value:0.00000
------------------------------
統計量：190.75
p-value:0.00000
------------------------------
統計量：5.06
p-value:0.02451
------------------------------
統計量：693.43
p-value:0.00000
------------------------------
統計量：46.91
p-value:0.00000
------------------------------
統計量：260.15
p-value:0.00000
------------------------------

In [ ]:
# mimic CA和馬偕 CA相比：獨立t test
print(ttest_ind(CA1['anchor_age'], TTP_onlyone['age'], equal_var=False, alternative='two-sided'))
print('-'*30)

print(ttest_ind(CA['heart_rate'].dropna().tolist(), TP['HR'].dropna().tolist(), equal_var=False, alternative='two-sided'))
print('-'*30)
print(ttest_ind(CA['sbp_ni'].dropna().tolist(), TP['SBP'].dropna().tolist(), equal_var=False, alternative='two-sided'))
print('-'*30)
print(ttest_ind(CA['dbp_ni'].dropna().tolist(), TP['DBP'].dropna().tolist(), equal_var=False, alternative='two-sided'))
print('-'*30)
print(ttest_ind(CA['resp_rate'].dropna().tolist(), TP['RR'].dropna().tolist(), equal_var=False, alternative='two-sided'))
print('-'*30)
print(ttest_ind(CA['temperature'].dropna().tolist(), TP['TempC'].dropna().tolist(), equal_var=False, alternative='two-sided'))
print('-'*30)
print(ttest_ind(CA['spo2'].dropna().tolist(), TP['SPO2'].dropna().tolist(), equal_var=False, alternative='two-sided'))

Ttest_indResult(statistic=-4.182545287712581, pvalue=3.580350146909724e-05)
------------------------------
Ttest_indResult(statistic=-8.232140315240116, pvalue=2.917920769993846e-16)
------------------------------
Ttest_indResult(statistic=-23.972939984657792, pvalue=8.79679879199197e-115)
------------------------------
Ttest_indResult(statistic=-15.732328016879567, pvalue=1.7020704611770018e-53)
------------------------------
Ttest_indResult(statistic=22.205071368340644, pvalue=1.1448615782516566e-99)
------------------------------
Ttest_indResult(statistic=-2.1383653513756906, pvalue=0.03259677021794518)
------------------------------
Ttest_indResult(statistic=-2.4330104146920393, pvalue=0.015129147986964705)